<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.lamport.tla.toolbox.tool.tlc.modelCheck">
    <stringAttribute key="configurationName" value="Model_1"/>
    <intAttribute key="distributedFPSetCount" value="0"/>
    <stringAttribute key="distributedNetworkInterface" value="192.168.31.247"/>
    <intAttribute key="distributedNodesCount" value="1"/>
    <stringAttribute key="distributedTLC" value="off"/>
    <intAttribute key="maxHeapSize" value="25"/>
    <stringAttribute key="modelBehaviorInit" value=""/>
    <stringAttribute key="modelBehaviorNext" value=""/>
    <stringAttribute key="modelBehaviorSpec" value="Spec"/>
    <intAttribute key="modelBehaviorSpecType" value="1"/>
    <stringAttribute key="modelBehaviorVars" value="ballot, leaderVote, 2amsgs, 1amsgs, vote, 1bmsgs"/>
    <stringAttribute key="modelComments" value=""/>
    <booleanAttribute key="modelCorrectnessCheckDeadlock" value="true"/>
    <listAttribute key="modelCorrectnessInvariants">
        <listEntry value="1Inv"/>
        <listEntry value="1Correctness"/>
    </listAttribute>
    <listAttribute key="modelCorrectnessProperties"/>
    <intAttribute key="modelEditorOpenTabs" value="2"/>
    <stringAttribute key="modelParameterActionConstraint" value=""/>
    <listAttribute key="modelParameterConstants">
        <listEntry value="Nil;;Nil;1;0"/>
        <listEntry value="Value;;{V1, V2, V3};1;0"/>
        <listEntry value="Acceptors;;{S1, S2, S3};1;1"/>
    </listAttribute>
    <stringAttribute key="modelParameterContraint" value=""/>
    <listAttribute key="modelParameterDefinitions">
        <listEntry value="Nat;;0..10;0;0"/>
    </listAttribute>
    <stringAttribute key="modelParameterModelValues" value="{}"/>
    <stringAttribute key="modelParameterNewDefinitions" value=""/>
    <intAttribute key="modelVersion" value="20191005"/>
    <intAttribute key="numberOfWorkers" value="6"/>
    <stringAttribute key="result.mail.address" value=""/>
    <stringAttribute key="specName" value="MultiPaxos"/>
    <stringAttribute key="tlcResourcesProfile" value="local custom"/>
</launchConfiguration>
