<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.lamport.tla.toolbox.tool.tlc.modelCheck">
    <stringAttribute key="configurationName" value="Model_1"/>
    <intAttribute key="distributedFPSetCount" value="0"/>
    <stringAttribute key="distributedNetworkInterface" value="192.168.31.247"/>
    <intAttribute key="distributedNodesCount" value="1"/>
    <stringAttribute key="distributedTLC" value="off"/>
    <intAttribute key="fpIndex" value="55"/>
    <intAttribute key="maxHeapSize" value="25"/>
    <stringAttribute key="modelBehaviorInit" value=""/>
    <stringAttribute key="modelBehaviorNext" value=""/>
    <stringAttribute key="modelBehaviorSpec" value="Spec"/>
    <intAttribute key="modelBehaviorSpecType" value="1"/>
    <stringAttribute key="modelBehaviorVars" value="elections, allSynced, messages, log, endPoint, allLogs, currentTerm, currentState, syncTrack, allEntries, sync, halfElections, votedFor"/>
    <stringAttribute key="modelComments" value=""/>
    <booleanAttribute key="modelCorrectnessCheckDeadlock" value="true"/>
    <listAttribute key="modelCorrectnessInvariants">
        <listEntry value="1Lemma1"/>
        <listEntry value="1Lemma2"/>
        <listEntry value="1Lemma3"/>
        <listEntry value="1Lemma4"/>
        <listEntry value="1Lemma5"/>
        <listEntry value="1Lemma6"/>
        <listEntry value="1Lemma7"/>
        <listEntry value="1Lemma8"/>
        <listEntry value="1Lemma9"/>
        <listEntry value="1Lemma10"/>
        <listEntry value="1Lemma11"/>
        <listEntry value="1Lemma12"/>
        <listEntry value="1Lemma13"/>
    </listAttribute>
    <listAttribute key="modelCorrectnessProperties"/>
    <intAttribute key="modelEditorOpenTabs" value="10"/>
    <stringAttribute key="modelExpressionEval" value=""/>
    <stringAttribute key="modelParameterActionConstraint" value=""/>
    <listAttribute key="modelParameterConstants">
        <listEntry value="Follower;;Follower;1;0"/>
        <listEntry value="RequestCommitResponse;;RequestCommitResponse;1;0"/>
        <listEntry value="RequestSyncResponse;;RequestSyncResponse;1;0"/>
        <listEntry value="Leader;;Leader;1;0"/>
        <listEntry value="LeaderCandidate;;LeaderCandidate;1;0"/>
        <listEntry value="UpdateSyncRequest;;UpdateSyncRequest;1;0"/>
        <listEntry value="Nil;;Nil;1;0"/>
        <listEntry value="RequestVoteResponse;;RequestVoteResponse;1;0"/>
        <listEntry value="RequestSyncRequest;;RequestSyncRequest;1;0"/>
        <listEntry value="Candidate;;Candidate;1;0"/>
        <listEntry value="RequestVoteRequest;;RequestVoteRequest;1;0"/>
        <listEntry value="UpdateSyncResponse;;UpdateSyncResponse;1;0"/>
        <listEntry value="Server;;{S1, S2, S3};1;1"/>
        <listEntry value="RequestCommitRequest;;RequestCommitRequest;1;0"/>
        <listEntry value="Value;;{V1, V2, V3};1;0"/>
    </listAttribute>
    <stringAttribute key="modelParameterContraint" value=""/>
    <listAttribute key="modelParameterDefinitions">
        <listEntry value="Nat;;0..5;0;0"/>
    </listAttribute>
    <stringAttribute key="modelParameterModelValues" value="{}"/>
    <stringAttribute key="modelParameterNewDefinitions" value=""/>
    <intAttribute key="modelVersion" value="20191005"/>
    <intAttribute key="numberOfWorkers" value="6"/>
    <stringAttribute key="result.mail.address" value=""/>
    <stringAttribute key="specName" value="ParallelRaftModified"/>
    <stringAttribute key="tlcResourcesProfile" value="local custom"/>
</launchConfiguration>
